@import "./settings";

@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/utilities/text";
@import "~bootstrap/scss/utilities/visibility";
@import "~bootstrap/scss/utilities/spacing";
@import "~bootstrap/scss/utilities/sizing";
@import "~bootstrap/scss/utilities/flex";
@import "~bootstrap/scss/utilities/display";
@import "~bootstrap/scss/utilities/background";
@import "~bootstrap/scss/utilities/borders";
@import "~bootstrap/scss/utilities/position";

html, body {
  color: white;
  font-family: 'Maven Pro', sans-serif;
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

button {
  // SPECIALLY FOR ANDREW SKURLATOV
  cursor: pointer;
}

.block-title {
  font-size: 1.375rem;
  font-weight: bold;
  color: $dark-indigo;
  
  margin-bottom: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.swap-slide-enter-active, .swap-slide-leave-active {
  transition: transform .3s ease, opacity .3s ease;
}
.swap-slide-enter,
.swap-slide-leave-to {
  transform: translateY(-10px);
  opacity: 0.2;
}

.mt-input {
  margin-top: 34px !important;
}

.bg-indigo {
  background-color: $dark-indigo;
}

.close{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  
  &:hover {
    &::before, &::after {
      //background: $blue;
    }
  }
  
  &::before, &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #000;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
  &.thick {
    &::before, &::after {
      height: 4px;
      margin-top: -2px;
    }
  }
  &.black {
    &::before, &::after {
      height: 8px;
      margin-top: -4px;
    }
  }
  &.rounded {
    &::before, &::after {
      border-radius: 5px;
    }
  }
}

.pointer {
  cursor: pointer;
}

// For Google Chrome
::-webkit-scrollbar {
  width:  6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #454e8d;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}